{
    "__comment" : "restart the server when updating this file. the keys are case sensitive (depending on the field, the values might as well). do not forget to restart the server after chaning this file.",
    "SERVICES" : [
        {
            "__comment" : "each service needs to specify the service_type ('agg' / 'sa' / 'ma') and the compulsory fields (see below). also if supplementary_fields have been specified these need to be present too.",
            "service_type" : "AGGREGATE_MANAGER",
            "service_url" : "https://server.com:12345",
            "service_cert" : "<certificate>agg1</certificate>",
            "service_name" : "agg1",
            "service_description" : "Aggregate 1",
            "service_urn" : "urn:publicid:IDN+server.com+authority+am",
            "_ofelia_island_name" : "island 1"
        }, {
            "service_type" : "AGGREGATE_MANAGER",
            "service_url" : "https://example.com:12345",
            "service_cert" : "<certificate>agg2</certificate>",
            "service_name" : "AGG2",
            "service_description" : "Aggregate 2",
            "service_urn" : "urn:publicid:IDN+backup.com+authority+am",
            "_ofelia_island_name" : "island 2"
        }, {
            "service_type" : "SLICE_AUTHORITY",
            "service_url" : "https://Resolved.runtime:0000",
            "service_cert" : "<certificate>_Resolved runtime_</certificate>",
            "service_name" : "chapI-SA",
            "service_description" : "CHAPI Slice Authority",
            "service_urn" : "urn:publicid:IDN+Resolved.runtime+authority+sa"
        }, {
            "service_type" : "MEMBER_AUTHORITY",
            "service_url" : "https://Resolved.runtime:0000",
            "service_cert" : "<certificate>_Resolved runtime_</certificate>",
            "service_name" : "CHAPI-MAv2",
            "service_description" : "CHAPI Member Authority",
            "service_urn" : "urn:publicid:IDN+Resolved.runtime+authority+ma"
        }
    ],
        "__comment": "The certificates under deploy/trusted/certs are returned by default. Additional entries can be mentioned here (see two examples below)",
        "__comment": "<certificate>additional certificate which does not show up above</certificate>",
        "__comment": "if there is an entry 'INFER_SAs' the certificates from the slice authorities in 'services' will be included. Same goes for 'INFER_MAs'",
        "__comment": "'INFER_SAs', 'INFER_MAs' ",
    "TRUST_ROOTS" : [
        ],
    "__comments": "Add information of federating peers in the following. The given entry is an example. Please change it to something meaningful",
    "TRUSTED_PEERS" :[
        {
            "host_ip": "0.0.0.0",
            "host_port": 8008,
            "host_endpoint": "reg/2"
        }

    ]


}
